<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
    </head>
    <body>
        <h1>We will be Right back</h1>
        <p>Hello this site is under maintence you cannot access it</p>
    </body>
    
</html>