<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
    </head>
    <body>
        {{> header}}
        <p>Hi i am a Web Developer and a machine learning enthusiast having projects in both machine learning and web development</p>
        <ol>
            <li><h5>Image Captioning</h5></li>
            <li><h5>Comment Classifier</h5></li>
            <li><h5>Devnagri handwritten character recgnition</h5></li>
            <li><h5>My portpolio project</h5></li>
        </ol>
        {{> footer}}
    </body>
    
</html>